body {
  background: radial-gradient(circle, rgb(95, 1, 1), rgb(0, 0, 0));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.game {
  position: relative;
  width: 600px;
  height: 200px;
  background-color: white;
  border: 2px solid #333;
  overflow: hidden;
}

#dino {
  position: absolute;
  bottom: 0,1;
  width: 40px;
  height: 40px;
  background-image: url(images/dino.png);
 
}

#cactus {
  position: absolute;
  bottom: 0,1;
  width: 20px;
  height: 40px;
  background-color: 
  right: 0;
}

.jump {
  animation: jump 0.6s ease-out;
}

@keyframes jump {
  0%   { bottom: 0px; }
  50%  { bottom: 80px; }
  100% { bottom: 0px; }
}

@keyframes cactusMove {
  0% { right: -20px; }
  100% { right: 600px; }
}

#cactus {
  animation: cactusMove 1.5s infinite linear;
}

.xuxu {
  width: 600px;
  height: 200px;
  background-color: white;
  border: 2px solid #333;
  margin-top: 1000px;
}